apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: go-app
  namespace: ${NAMESPACE}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: go-app
  minReplicas: 1
  maxReplicas: 7
  targetCPUUtilizationPercentage: 50

